{{>menu}}
<main class="w-full flex h-[calc(100vh-80px)] items-center justify-center p-2">
    <div class="container-password bg-white p-3 rounded-sm shadow-xl">
        <div class="rules-password border-b border-black/15 p-3 flex flex-col gap-5">
            <div class="button-back">
                <a href="/register">
                    <button class="">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#000000">
                            <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
                        </svg>
                    </button>
                </a>
            </div>
            <ul class="list-rules flex flex-col gap-5 text-gray-600">
                <li>
                    <strong>Sua senha deve conter no minímo 8 caracteres.</strong>
                </li>
                <li>
                    <strong>Deve conter pelo menos um numero</strong>
                </li>
                <li>
                    <strong>
                        Deve conter pelo menos um simbolo (@,#,&,%)
                    </strong>
                </li>
                <li>
                    <strong>
                        Deve conter pelo menos um caracter maiusculo
                    </strong>
                </li>
            </ul>
        </div>
        <div class="create-password mt-4">
            <form class="form-create-password flex flex-col gap-5 mb-2">
                <div class="flex flex-col gap-3 relative">
                    <label for="password">Digite sua senha</label>
                    <input type="password" id="password" placeholder="Sua senha"
                        class="border border-gray-400 p-2 rounded-sm focus:outline-2 focus:outline-1 focus:outline-slate-700">

                    {{>eyes}}
                </div>
                <div class="flex flex-col gap-3 relative">
                    <label for="password2">Digite sua senha novamente</label>
                    <input type="password" id="password2" placeholder="Sua senha novamente"
                        class="p-2 border border-gray-400 rounded-sm focus:outline-1 focus:outline-slate-700">

                </div>
                <button type="submit"
                    class="p-2 bg-slate-950 text-white rounded-sm hover:bg-slate-700">Continuar</button>
            </form>
            {{>loading}}
            <p class="text-response text-gray-800 hidden text-center text-sm"></p>
        </div>
    </div>
</main>