{{>menu}}
{{>shadow}}
<main class="main-404 w-full">
    <div class="container-404">
        <h1>Página não encontrada</h1>
        <p>Infelizmente não encontramos a página que você deseja,sentimos muito D:</p>
        <span>Voltando para a home em <strong>5</strong></span>
    </div>
</main>